// Orion Config
// - - - - - - - - - - - - - - -

// Header
$orion-header-background: #FFFFFF;
$orion-header-font-color: #ED1C24;
$orion-header-font: 'Fira Sans', sans-serif;

// Body
$orion-body-background: #E8E8E8;